.container
  .header
    = link_to :back do
      = image_tag 'back.svg', class: 'header_left'
    %div.follow_title
      %p.page_title Followings
  -  @followings.each do |following|
    .follow
      %div
        = image_tag following.avatar_image, class: 'follow_avatar'
      %div
        %p.follow_name= following.user_name
    -# .comment_content
    -#   .comment_content_avatar
    -#     = image_tag following.avatar_image, class: 'comment_content_avatar_image'
    -#   .comment_content_texts
    -#     .comment_content_user-name
    -#       %p= following.user_name