.container
  .header
    = link_to :back do
      = image_tag 'back.svg', class: 'header_left'
    %div.follow_title
      %p.page_title フォロー
  -  @followings.each do |following|
    .follow
      %div
        = image_tag following.avatar_image, class: 'follow_avatar'
      %div
        %p.follow_name= following.user_name
        