.header
  .header_action
    = link_to new_article_path do
      = image_tag 'camera.png', class: 'header_left'
- @article.each do |article|
  = render 'commons/article', article: article

= javascript_pack_tag 'article'
