.container
  .header
    = link_to :back do
      = image_tag 'back.svg', class: 'header_left'
    %div.follow_title
      %p.page_title Followings
  -  @followers.each do |followers|
    .follow
      %div
        = image_tag followers.avatar_image, class: 'follow_avatar'
      %div
        %p.follow_name= followers.user_name