@import 'login';
@import 'profile';
@import 'header';
@import 'article';
@import 'post';
@import 'flash';
@import 'comment';

body {
    margin: 0px;
    font-family: poppins;
}

.container {
    margin: 0px 16px;
    position: relative;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
}

.page_title {
    font-size: 16px;
}

.hidden {
    display: none;
}