.header {
    text-align: center;
    margin-top: 45px;

    &_action {
        position: relative;
        height: 20px;
    }

    &_icon {
        position: absolute;
        top: 0px;
        left: 16px;
        width: 24px;
        height: 24px;
    }

}





