.comment {

    margin-top: 50px;
    margin-bottom: 75px;

    &_content {
        display: flex;
        width: 100%;
        margin-bottom: 20px;


        &_avatar {
            margin-right: 25px;
            margin-top: 6px;

            &_image {
                width: 36px;
                height: 36px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &_user-name {
            color: #414040;
            font-size: 16px;
            line-height: 24px
            margin-bottom 8px;
        }

        &_text {
            color: #9B9B9B;
            font-size: 14px;
            line-height: 20px
            word-break normal;
        }
    }

    &_form {
        position: fixed;
        display: flex;
        left: 16px;
        right: 16px;
        bottom: 20px;
        
        
        &_container {
            position: relative;
            display: flex;
            width: 100%;
            padding-left: 15px;
            box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.15);
            background-color: #fff;
        }
        
    }
    
    &_create-icon {
        height: 42px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        
        input {
            display: none;
        }
    }
    
    &_text-area {
        width: 100%;
        align-items: center;
        border: none;
        width: 100%;
        height: 42px;
        padding: 0px;
    }
} 