.profile {
    text-align: center;
    position: relative;

    &_avatar {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 45px;
    }

    &_image {
        height: 77px;
        width: 77px;
        object-fit: cover;
        border-radius: 50%;
    }

    &_info {

        justify-content: space-between;
        text-align: center;
        display: flex;
        font-size: 14px;
        margin: 0px;
        margin-bottom: 45px;

        &_num {
            justify-content: space-around;
        }

        &_posts {
            width: 84px;
        }

        &_followers {
            width: 84px;
        }

        &_following {
            width: 84px;
        }

    }

}